<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Forex Reinforcement Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
</head>
    <body>
        <div class="container">
            <h1>Welcome to Forex Reinforcement Learning</h1>
            <h4>This project seeks to use openai gym and yfinance apis to create and tune a reinforcement learning forex trading bot.</h4>
        <div id="content">
            <h3>Please give the model some parameters:</h3>
            <form method="POST" action="">
                <label>
                    currency pair:
                    <input type="text" name="currency_pair">
                </label>
                <br>
                <label>
                    period:
                    <input type="text" name="period">
                </label>
                <br>
                <label>
                    interval:
                    <input type="text" name="interval">
                </label>
                <br>
                <label>
                    window size:
                    <input type="text" name="window_size">
                </label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        </div>
<!-- scripts -->
    </body>
</html>