<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="../static/css" href="style.css">
    <title>Forex Reinforcement Learning</title>
  </head>
  <style>
    .container {
        text-align: center;
        color: white;
    }
    body {
        background-image: url("../static/forex-trading-background-2.jpg");
    }
  .graph {
      background: white;
      opacity: 0.9;
  }
  </style>
    <body>
        <div class="container" style="background-color:rgba(0, 0, 0, 0.6);">
        <img alt="Forex Img" src="../static/forex-img.png">
        <h1>We ran your model!</h1>
        <div id="content">
            <h4>Your percent return over the past {{ period }} was: {{ total_profit }}%</h4>
            <h4>Your Model's Reward Total was: {{ total_reward }}</h4>

            <h3>Parameters:</h3>
            <p>Currency Pair: {{ currency_pair }}</p>
            <p>Period: {{ period }}</p>
            <p>Interval: {{ interval }}</p>
            <p>Window Size: {{ window_size }}</p>

            <form method="GET" action="">
                <input type="submit" value="Return to Parameters">
            </form>
            <h4>Model Output</h4>
            <img class="graph" src="static/model_output.png?nocache=<?php echo time(); ?>" align="middle">
            </div>
        </div>
<!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>