<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Forex Reinforcement Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
</head>
    <body>
        <div class="container">
            <h1>We ran your model!</h1>
            <div id="content">
                <h3>The results of the model can be found below:</h3>
                <h4>Parameters:</h4>
                <ul>
                    <li>Currency Pair: {{ currency_pair }}</li>
                    <li>Period: {{ period }}</li>
                    <li>Interval: {{ interval }}</li>
                    <li>Window Size: {{ window_size }}</li>
                </ul>
                <p><strong>Your Profit was: {{ total_profit }}%</strong></p>
                <p><strong>Your Reward Total was: {{ total_reward }}%</strong></p>
            </div>
        </div>
<!-- scripts -->
    </body>
</html>